@CHARSET "UTF-8";
table.gold {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	line-height: 1;
/* 	table-layout: fixed; */
/*     border-top: 2px solid #666;	 */
/*     empty-cells: show; */
}


table.gold th {
	text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: white;
    border-top: double #bbb;
    border-bottom: double #bbb;
    
}


table.gold td {
 	padding: 10px;
 	border: 1px solid #bbb;
}


table.tableComSelect{
	width: 100%;
	text-align: left;
	line-height: 1;
}


table.tableComSelect th {
    padding: 5px 10px;
    font-size: 16px;
    height: 30px;    
}


table.tableComSelect td {
	padding: 5px 10px;
	border-bottom: 1px solid #bbbb;
	font-size: 14px;
}


table.detail{
	width: 95%;
	border-collapse: collapse;
	text-align: left;
	line-height: 1;
}

table.detail th{
	width: 35%;
    height: 40px;
    border-left: none;
    border-right: none;
    font-size: medium;
/*     border-bottom: 1px solid #bbbb; */
    border-top: 1px solid #bbbb;
    padding: 10px;
    font-family: none;
    font-weight: 600;
    vertical-align: top;
}

table.detail td{
	width: 65%;
    height: 40px;
    border-left: none;
    border-right: none;
    font-size: medium;
/*     border-bottom: 1px solid #bbbb; */
    border-top: 1px solid #bbbb;
    padding: 10px;
    font-family: none;
    font-weight: 500;
}

input.det_text{
	border: none;
	
}


a.enBtn{
	height: 35px;
    width: 50px;
    float: right;
    text-align: center;
    background: #57abff;
    font-size: 15px;
    padding: 8px;
    color: white;
    border-radius: 7px;
    font-family: none;
    font-weight: 500;
}

.ulStluy1{
	display: inline-flex;
}


.box{
    border: 1px solid #bbb;
    font-size: 30px;
    width: 39px;
    height: 36px;
    margin: 9px 3px;
    text-decoration-line: none;
    text-align: -webkit-center;
    letter-spacing: -8px;
    padding-right: 7px;
    border-radius: 6px;
    font-weight: bolder;
    color: #0072c3;
}


span.test{
	margin: 9px;
/* 	border: 1px solid #bbb; */
    padding: 9px 10px;
}


a.detail{
    width: 65px;
    height: 40px;
    color: white;
    font-size: large;
    border-radius: 11px;
    border: none;
}




input[type="button"]{
    width: 70px;
    height: 35px;
    background: #37b9bd;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}


input.adbtn{
	 width: 76px;
    height: 37px;
    background: darkgreen;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.listyr2{
    background-color: #ffaaaa;
    width: 53%;
    margin-left: 116px;
    margin-top: -35px;
    height: 70px;
    display: flex;
    font-size: 35px;
    border-radius: 15px;
    color: white;
}


a.pageStluy1{
	padding: 1px;
    width: 35px;
    height: 35px;
    list-style-type: none;
    margin: 10px 6PX;
    Font-size: 28px;
    color: #666;
    text-align: -webkit-center;
    text-decoration: none;
}


a.pageStluy1:HOVER{
	text-decoration:underline;
}


a.pageLiSty {
	padding: 1px;
    width: 35px;
    height: 35px;
    list-style-type: none;
    background-color: #0072c3;
    margin: 10px 6px;
    font-size: 30px;
    color: white;
    text-align: -webkit-center;
    border-radius: 4px;
}




